@model GrupoAval.Models.Debtor

@{
    ViewData["Title"] = "Create";
}

<div class="card p-3">

    <h2 class="text-center">Cadastrar Devedor</h2>

    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Ex: Lucas Andrade"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control input-cpf" placeholder="000.000.000-00" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" value="Cadastrar" class="btn btn-success">
                    <span class="material-icons">
                        person_add
                    </span>
                    Cadastrar
                </button>

                <a asp-action="Index" class="btn btn-secondary">
                    <span class="material-icons">
                        arrow_back
                    </span>
                    Voltar a lista
                </a>
            </div>
        </div>

    </form>    
</div>

@section Scripts {    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
